.video-item{
  display: flex !important;
  align-items: center !important;
  curser: pointer;
}
.ui.segment{
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: left 100% bottom 0%;
}
.ui.segment:first-child{
  margin-top: 1rem;
}
.ui.segment:last-child {
    margin-bottom: 1rem;
}
.ui.image{
  /*background-color: blue;*/
  /*bottom: 0px !important;*/
      margin-top: auto !important;
/*  margin-right: auto !important;
    margin-top: auto !important;*/
}
img {
  /*height: 100px !important;*/

  /*min-height: 100px;*/
}
